.colored-button {
    --red-base: #e84c3d;
    --red-light: #e63b2b;
    --yellow-base: #fac24b;
    --yellow-light: #fac75a;
    --green-base: #7fb84d;
    --green-light: #87bc58;
    --blue-base: #5b8fc2;
    --blue-light: #6496c7;
    --grey-base: #ddd;
    --grey-light: #e1e1e1;
    --text-dark: #555;
    --text-light: #fff;

    background-color: var(--grey-base);
    border-color: var(--grey-base);
    color: var(--text-dark);
}

.colored-button:not([disabled]):hover {
    background-color: var(--grey-light);
    border-color: var(--grey-light);
}

.colored-button:active {
    opacity: 0.8;
    outline: none;
}

.colored-button._yellow {
    background-color: var(--yellow-base);
    border-color: var(--yellow-base);
}

.colored-button._yellow:not([disabled]):hover {
    background-color: var(--yellow-light);
    border-color: var(--yellow-light);
}

.colored-button._green {
    background-color: var(--green-base);  
    border-color: var(--green-base);
    color: var(--text-light);
}

.colored-button._green:not([disabled]):hover {
    background-color: var(--green-light);
    border-color: var(--green-light);
}

.colored-button._blue {
    background-color: var(--blue-base); 
    border-color: var(--blue-base);
    color: var(--text-light);
}

.colored-button._blue:not([disabled]):hover {
    background-color: var(--blue-light);
    border-color: var(--blue-light);
}

.colored-button._red {
    background-color:var(--red-base);
    border-color: var(--red-base);
    color: var(--text-light);
}

.colored-button._red:not([disabled]):hover {
    background-color: var(--red-light);
    border-color: var(--red-light); 
}

.colored-button._grey {
    background-color: var(--grey-base);
    border-color: var(--grey-base);
}

.colored-button._grey:not([disabled]):hover {
    background-color: var(--grey-light);
    border-color: var(--grey-light);
}