* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
}

body {
    font: normal 1em Arial, Helvetica, sans-serif;
}

main {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    align-content: stretch;
}

.main_header {
    color: #fff;
    font-size: 2em;
    padding: 0.5em;
    text-align: center;
    text-transform: uppercase;
}

.content {
    background: rgb(31,78,157);
    background: linear-gradient(180deg, rgba(31,78,157,1) 0%, rgba(62,134,187,1) 80%, rgba(0,212,255,1) 100%);
    background-repeat: no-repeat;
    background-attachment: fixed;
    flex: 1;
    box-shadow: -2px 2px 5px 1px #EAEAEA;
    min-height: 20em;
    padding-bottom: 3em;
}

.content__field {
    border: 0;
}

.content__p {
    color: #333;
    padding: 0.5em;
    border-radius: 1em;
    border-width: 0;
}

.content__input {
    font-size: 1em;
    line-height: 1.7em;
    padding: 0.3em 0.4em;
    margin: 0.1em 0.2em;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    border: 1px solid #ddd;
    border-radius: 0.4em;
}

.content__text {
    background-color: #fff;
}

.content__text:focus {
    outline: none;
    background-color: #fcf9f0;
    border-color: #cacaca;
}

.content__button {
    color: #555;
    font-weight: bold;
    background-color: #fac75a;
    cursor: pointer;
}

.content__button:hover {
    background-color: #fce17a;
}

.content__button:active {
    background-color: #fac24b;
    outline: none;
}

.content__error {
    color: #e84c3d;
    font-size: 0.7em;
    margin-top: 0;
}

.hidden {
    display: none;
}

.todo {
    background-color: #f0f0f0;
    border-radius: 0.5em;
    display: flex;
    flex-direction: column;
    max-width: 600px;
    margin: auto;
    padding: 2em;
}

.todo__add {
    display: flex;
    margin-bottom: 2em;
}

.todo__add-input {
    border-radius: 0.3em 0 0 0.3em;
    flex: 1;
    margin-right: 0;
}

.todo__add-button {
    border-left: none;
    border-radius: 0 0.3em 0.3em 0;
    font-size: 0.9em;
    margin-left: 0;
    padding: 0.3em 1.3em;
}

.todo__sort-button {
    min-width: 1.7em;
}

.todo__list {
    list-style-type: none;
    margin: auto;
    padding: 0;
    width: 100%;
}

.todo__list-item {
    display: flex;
    align-items: center;
    background-color: #fff;
    box-shadow: -2px 2px 15px 1px #E3E3E3;
    color: #555;
    font-size: 1.1em;
    margin-bottom: 0.3em;
    /* padding: 1em 0.5em; */
    padding: 0 0.7em;
    -webkit-box-shadow: -2px 2px 15px 1px #E3E3E3; 
}

.list__list-item:last-child {
    margin-bottom: 0;
}

.todo__list-item_done {
    opacity: 0.6;
    text-decoration: line-through;
}

.todo__list-checkbox {
    margin-right: 1em;
}

.todo__list-p {
    height: 100%;
    outline: none;
    width: 100%;
}

.todo__list-date {
    color: rgba(62,134,187,1);
    font-weight: bold;
    font-size: 0.6em;       
}