@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
}

body {
    color: #333;
    font: normal 1rem Roboto, Helvetica, sans-serif;
}

main {
    align-items: stretch;
    align-content: stretch;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: flex-start;
}

.main-header {
    color: #fff;
    font-size: 2rem;
    padding: 0.5rem;
    text-align: center;
    text-transform: uppercase;
}

.content {
    background: rgb(31,78,157);
    background: linear-gradient(180deg, rgba(31,78,157,1) 0%, rgba(62,134,187,1) 80%, rgba(0,212,255,1) 100%);
    background-repeat: no-repeat;
    background-attachment: fixed;
    flex: 1;
    box-shadow: -2px 2px 5px 1px #EAEAEA;
    min-height: 20rem;
    padding-bottom: 3rem;
}

.standard-error {
    color: #e84c3d;
    font-size: 0.7em;
    margin-top: 0;
}

.todo {
    background-color: #f0f0f0;
    border-radius: 0.5em;
    display: flex;
    flex-direction: column;
    margin: auto;
    max-width: 600px;
    padding: 2em;
}

.todo-add__container {
    display: flex;
    margin-bottom: 2em;
}

.todo-add__input {
    border-radius: 0.3em 0 0 0.3em;
    flex: 1;
    margin-right: 0;
}

.todo-add__button {
    border-left: none;
    border-radius: 0 0.3em 0.3em 0;
    font-size: 0.9em;
    margin-left: 0;
    padding: 0.3em 1.3em;
}

.todo-add__order-button {
    min-width: 2em;
}

.todo-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.todo-list__item {
    align-items: center;
    background-color: #fff;
    border: 1px solid #e1e1e1;
    box-shadow: 0 2px 5px rgba(100, 100, 100, 0.2);
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-bottom: 0.4rem;
    padding: 0 1rem;
}

.todo-list__item:last-child {
    margin-bottom: 0;
}

.todo-list__item:focus-within {
    background-color: #fcf9f0;
    border-color: #cacaca;
}

.todo-list__item._completed {
    opacity: 0.6;
    text-decoration: line-through;
}

.todo-list__name {
    color: #555;
    cursor: pointer;
    font-size: 1.1rem;
    margin: 0;
    outline: none;
    padding: 1rem 0;
    width: 100%;
}

.todo-list__checkbox {
    margin-right: 1rem;
}

.todo-list__date {
    color: rgba(62,134,187,1);
    font-weight: bold;
    font-size: 0.6rem;       
}

._hidden {
    display: none;
}